/* _content/GUIDesignerModule/GUIEditor.razor.rz.scp.css */
.my-component[b-aqzyv09nxw] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
