<section class="py-4">
    <div class="container max-w-5xl mx-auto m-8">
@if (_loaded)
{
        <div class="grid grid-cols-4 gap-4">

            <div class="flex flex-col items-center">
                <h3 class="font-bold text-5xl">@_userCount</h3>
                <div class="text-2xl">Users</div>
            </div>

            <div class="flex flex-col items-center">
                <h3 class="font-bold text-5xl">@_toolCount</h3>
                <div class="text-2xl">Tools</div>
            </div>

            <div class="flex flex-col items-center">
                <h3 class="font-bold text-5xl">@_plugCount</h3>
                <div class="text-2xl">Plugs</div>
            </div>

            <div class="flex flex-col items-center">
                <h3 class="font-bold text-5xl">@_version</h3>
                <div class="text-2xl">Version</div>
            </div>

        </div>
}
    </div>
</section>