################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/02.Publish/CJ.Plug.ElsaApiServer/Debug/net9.0/elsa.sqlite.db-shm
/02.Publish/CJ.Plug.ElsaApiServer/Debug/net9.0/elsa.sqlite.db-wal
/02.Publish/CJ.Plug.ApiServer/Debug/net9.0/main.db-wal
/02.Publish/CJ.Plug.ApiServer/Debug/net9.0/main.db-shm
