@using CJ.Plug.Models.Plug
@using CJ.Plug.Models.PlugAction
@using CJ.Plug.SharedPages.PlugSettingPages
@using CJ.Plug.ToolActionSetting.Dialogs
@using MudBlazor
@inject ISnackbar Snackbar
@inject MainApiClient MainApiClient
@inject IDialogService DialogService

<MudPaper>    
    <MudStack AlignItems="AlignItems.Stretch" Spacing="0">

        <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceAround">
            <h3>"@PlugActionItem?.Name" (@PlugActionItem?.Id)</h3>
            <MudSpacer></MudSpacer>
            <MudIconButton OnClick="OpenConfigDialog" Size="Size.Small" Icon="@Icons.Material.Filled.Settings" />
            <MudTooltip Text="命令脚本预览">
                <MudIconButton OnClick="PreviewAction" Size="Size.Small" Icon="@Icons.Material.Filled.Preview" />
            </MudTooltip>

            <MudIconButton OnClick="DeletePlugActionItem" Size="Size.Small" Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" />
        </MudStack>

    </MudStack>
</MudPaper>


@code {
    [Parameter]
    public EventCallback<string> OnDelete { get; set; }
    [Parameter]
    public Plug? PlugActionItem { get; set; }
    [Parameter]
    public Plug? SelectedPlug { get; set; } = new();

    private async Task OpenConfigDialog()
    {
        var parameters = new DialogParameters<PlugActionItemConfigDialog>
        {
            { x => x.PlugActionItem, PlugActionItem },
            { x => x.SelectedPlug, SelectedPlug },
        };

        var diaOption = new DialogOptions()
        {
            MaxWidth = MaxWidth.Medium,
            Position = DialogPosition.Center,
            BackdropClick = false,
            FullWidth = true
        };

        var dialog = await DialogService.ShowAsync<PlugActionItemConfigDialog>($"配置动作 - {PlugActionItem?.Name}", parameters, diaOption);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            StateHasChanged();
        }
    }

    private async Task DeletePlugActionItem()
    {
        Console.WriteLine(PlugActionItem?.Id.ToString());
        await OnDelete.InvokeAsync();
    }

    private async Task PreviewAction()
    {
        await MainApiClient.UpdatePlugAsync(SelectedPlug.Id, SelectedPlug);
        Snackbar.Configuration.PreventDuplicates = true;
        Snackbar.Configuration.VisibleStateDuration = 10000;
        Snackbar.Add("es", Severity.Info);
    }
}
