@using Microsoft.AspNetCore.Components.Web
@using MudBlazor

@inject IErrorBoundaryLogger ErrorBoundaryLogger

<MudDialog Class="stack-resize">
    <DialogContent>        
        <ErrorBoundary @ref="errorBoundary" ErrorContent="ErrorContent">
            <h3>出错了</h3>
            @* 你的组件内容 *@
            666page
        </ErrorBoundary>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(()=>_MudDialog.Close(DialogResult.Cancel()))">关闭</MudButton>
    </DialogActions>
</MudDialog>




@code {
    [CascadingParameter] IMudDialogInstance _MudDialog { get; set; }

    private ErrorBoundary? errorBoundary;

    private RenderFragment<Exception> ErrorContent => exception => builder =>
    {
        builder.OpenElement(0, "div");
        builder.AddContent(1, "An error occurred: ");
        builder.AddContent(2, exception.Message);
        builder.CloseElement();
    };
}